 * {
    font-family: 'Helvetica', sans-serif; 
   }

main ul li{
    color:red;
    font-size: small;
    margin-bottom: 10px;
}

nav ul li{
  font-size: small;
  margin-bottom: 10px;

}

header nav li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Righteous', cursive;
}
#head3{
  font-family: 'Righteous', cursive; 
  margin-left: 30px;

}

header {
  font-family: 'Righteous', cursive;
  background: #000;
  height: 160px;
}

table {
  margin: auto;
  text-align: center;
  border: 2px solid black;
  font-family: 'Righteous', cursive;
}
tr {
  padding: 5px;
  margin: auto;
  border: 1px solid black;
  background-color: aqua;
}

td {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
  margin: auto;
  background-color: aqua;
  font-size: 1.2em;
}

th {
	background-color: gray;
	color: white;
  padding: 2px;
  border-radius: 8px;
  font-size: 1.2em;

}
label {
  color: salmon;
}

legend {
  color: salmon;
  font-family: 'Righteous', cursive;
}
